.menu{
    list-style: none;
    position: absolute;
    z-index: 10;
    cursor:pointer;
    top: 10px;
    right: 30px;
    font-family:'Corinthia',cursive;
    
}
#Writings{
    font-size: 60px;
}